@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Poppins:wght@100;400&display=swap');

body {
    background-color: rgb(0, 0, 0);
    height: 90vh;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.nombre{
    display: block;
    text-align: center;
   
}

.profile{
    padding-top: 1%;

}

.menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: auto;
    justify-content: center;
}


.btn{
    display: flex;
    margin-bottom: 1%;
    border-color: #f0f0f5;
    border-style: solid;
    border-radius: 0;
    color: #8b8b8b;
    padding: 1%;
}

.btn p{
    margin: auto;
    color: black;
}
.btn:hover {
    background-color: #0e76a8;
    border-color: #0e76a8;
    color: #646262;
}


.card-body{
    color: #f0f0f5; 
}

.card-text,.card-title{
    color: black;
}

.destacada{
    background-color: #bff7bf;
}

.redes{
    text-align: center;
}

@media (max-width: 768px) {
    

.profile{
    width: 40%;
}

.btn{
 
    padding: 10%;
}

.linkedin{
    margin: 20%;
}

}